[Unit]
Description=GitHub→Telegram (FastAPI) - Uvicorn TCP
Requires=openresty.service
After=network-online.target

[Service]
WorkingDirectory=/root/workspace/gh-weebhooks
Environment="PYTHONUNBUFFERED=1"
ExecStart=/root/workspace/gh-weebhooks/.venv/bin/uvicorn app:app \
  --host 127.0.0.1 --port 3345 \
  --workers 2 \
  --proxy-headers --forwarded-allow-ips="*"
Restart=always
User=root
RestartSec=3

[Install]
WantedBy=multi-user.target
